<div class="container-fluid mt-3 px-4 d-flex flex-column" style="min-height: 100vh;">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h1>About Me</h1>
  </div>
  <div class="card">
    <div class="card-body">
      <h2 class="card-title">Danilo Maccari</h2>
      <p class="card-text text-success"><strong>Available to work</strong></p>
      <p class="card-text">
        Full Stack Developer with experience in real-world and personal projects using React, Ruby on Rails, Node.js, Java, and databases such as PostgreSQL and MySQL. I worked for 4 months at Mecantronic (ReactJS, FastAPI, AWS RDS), delivering 80+ tasks, and 1.4 years as a tutor/supervisor in #ArgentinaPrograma with Java and Angular. Specialized in security (JWT, OAuth2, Devise) and eCommerce, I seek to apply my skills to innovative projects while continuing to grow.
      </p>
      <div class="d-flex gap-2">
        <a href="https://www.linkedin.com/in/maccari78/" target="_blank" class="btn btn-primary btn-sm">LinkedIn</a>
        <a href="https://github.com/maccari78" target="_blank" class="btn btn-dark btn-sm">GitHub</a>
        <a href="https://maccari78.netlify.app/" target="_blank" class="btn btn-info btn-sm">Portfolio</a>
        <a href="mailto:maccari78@gmail.com" class="btn btn-outline-secondary btn-sm">maccari78@gmail.com</a>
      </div>
    </div>
  </div>
</div>