# Archivos de log
/log/*.log

# Archivos temporales
/tmp/*
/public/packs/*
/public/assets/*

# Dependencias
/node_modules/
/vendor/bundle/

# Archivos generados por npm
/package-lock.json

# Archivos de base de datos de desarrollo
/db/*.sqlite3

# Archivos temporales de migraciones
*.active_storage.rb

# Archivos generados por macOS
.DS_Store