@import "bootstrap";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex; 
  flex-direction: column; 
  min-height: 100vh; 
  background-color: #fff !important; /* Forzar fondo blanco */
}

@media (min-width: 1200px) {
  .container-fluid {
    max-width: 95%;
  }
}

.fc-event {
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  padding: 2px 5px;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 5px !important; 
  margin-right: 5px !important; 
}

.pagination {
  margin: 0; 
}

.page-item {
  margin: 0 0.2rem;
}

.page-link {
  padding: 0.375rem 0.75rem; 
  border-radius: 0.375rem; 
  color: #0d6efd; 
  background-color: #fff;
  border: 1px solid #dee2e6;
  transition: background-color 0.2s, color 0.2s;
  font-size: 0.875rem; 
}

.page-link:hover {
  background-color: #e9ecef;
  color: #0a58ca;
}

.page-item.active .page-link {
  background-color: #0d6efd; 
  color: white;
  border-color: #0d6efd;
}

.page-item.disabled .page-link {
  color: #6c757d;
  background-color: #fff;
  border-color: #dee2e6;
  pointer-events: none;
}

.navbar .dropdown-item.btn-danger {
  background-color: #dc3545 !important; 
  color: white !important;
  border: none;
  padding: 0.375rem 0.75rem; 
}

.navbar .dropdown-item.btn-danger:hover {
  background-color: #c82333 !important; 
  color: white !important;
}

main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.navbar.navbar-expand-lg.navbar-light {
  background-color: #f0f2f5 !important; /* Un gris clarito diferente */
  // background-color: #f8f9fa !important; /* Gris claro */
  border-bottom: 1px solid #dee2e6 !important;
}

.navbar-brand {
  font-weight: bold;
}

.appointments-container {
  padding: 0.5rem 2rem;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}