@import "bootstrap";

/* Asegurar que el body no tenga márgenes ni desbordamiento */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Ajustar el contenedor para pantallas grandes */
@media (min-width: 1200px) {
  .container-fluid {
    max-width: 95%;
  }
}

/* Hacer que los eventos sean más visibles */
.fc-event {
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  padding: 2px 5px;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 5px !important; 
  margin-right: 5px !important; 
}