<div class="container-fluid mt-3 px-4 d-flex flex-column" style="min-height: 100vh;">
  <%= form_with(model: @appointment, url: appointments_path, class: 'needs-validation', local: true, novalidate: true, id: "new-appointment-form") do |form| %>
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h1>New Appointment</h1>
      <div class="d-flex gap-2">
        <%= form.submit "Save Appointment", class: "btn btn-primary" %>
        <%= link_to "Back to Calendar", appointments_path, class: "btn btn-secondary" %>
      </div>
    </div>

    <%= render 'form', appointment: @appointment, form: form %>
  <% end %>
</div>